<wm-page data-ng-controller="MainPageController" name="mainpage" pagetitle="Main">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-left-panel columnwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
        <wm-page-content columnwidth="8" name="mainContent" padding="unset 15px">
            <wm-buttongroup name="buttongroup1">
                <wm-button class="btn-default" type="button" caption="left" name="button1"></wm-button>
                <wm-button class="btn-default" type="button" caption="center" name="button2"></wm-button>
                <wm-button class="btn-default" type="button" caption="right" name="button3"></wm-button>
            </wm-buttongroup>
        </wm-page-content>
        <wm-right-panel columnwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>